@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
}


.header-lista ul {
  list-style: none;
  display: flex;
  justify-content: space-around;  
}

.hader-lista li{
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header-lista i {
  margin-right: 10px;/* Espacio entre el texto y el icono */
}

.header-container-bottom {
  background-color: #f0a83e;
  display: flex;
  width: 100%;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.logo-base p {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.logo-uno {
  color: #3c2313;
}

.nav-links {
  list-style: none;
  color: #ffffff;  
  font-size: 13px;
  display: flex;
  justify-content: space-around;
}
.nav-links img {
  margin-left: 10px;
}

.icono-mobile{
  display: none;
}

.main-banner {
  background-color: white;
  background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  padding: 90px;
    
  }
  .main-banner p {       
    background-color: white;
    color: #3C2313;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;

  }

  .main-banner h4 {
    color: #3C2313;
    margin: 20px;
    
  
  }

  .main-banner h5 {
    margin: 10px;    
    padding: 12px;
    background-color: #F0A83E;
    color: white;
    font-size: 16px;
    border-radius: 10px;
  }

  .main-productos-destacados {
    background-color: white;
    background-image: url('../img/huella.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  
  .main-productos-destacados h2 {
    font-size: 30px;
    color: #3C2313;
    padding-top: 35%;
  }
  
  .productos-destacados-opciones ul {
    display:inline-flex;
    list-style:none;
    padding: 5%;

  }
  .productos-destacados-opciones li{
    margin-right: 30px;
  }
  
  .main-productos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    padding: 5%;
  }

  .main-productos p{
    color: #3C2313;
    text-align: center;
  }

  .main-productos h4{
    color: #F0A83E;
    text-align: center;
  }


  .main-suscription{
    background-color: #F0A83E ;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
.novedades{
  display: flex;
  align-items: center;
  padding: 5px;

}
.novedades img{
  padding: 10px;
}

.novedades p{
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
}

.suscripcion{
  display: flex;
  align-items: center;
  padding-right: 10px;
  
}
.input-correo {
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 9px;
}
.boton-suscribir {
  padding: 10px 20px;
  background-color: #3C2313;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 9px;
}

.footer-contact{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#3C2313;
  padding: 50px;
  }

  .footer-datos{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: flex-start;


  }
.footer-datos div{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px;
  
}
.footer-datos h3  {
  font-size: 20px;
  color: #FFFFFF;
}

.correo {
  display: flex;
  flex-direction: column;
}
.telefono{ 
    display: flex;
    flex-direction: column;
  }
.localidad{
    display: flex;
    flex-direction: column;
  }

.footer-logo-base{
     font-size: 20px;
    font-weight: 700;
    color: #ffffff;
  }
  
  .logo-tres {
    color: #F0A83E;
  }

  .footer-end{
    background-color: #222222;
    width: 100%;
    height: 30px;
    color: #FFFFFF ;
    font-size: 20px;
    text-align: center; 
    display: flex;
    justify-content: center;  
    align-items: center; 
  }

  /*****Resposive***/

@media screen and (max-width: 480px){
  
  .header-container-top{
    display:none;
  }

  .nav-links{
    display: none;
  }

  .icono-mobile{
    display: block;
  }

  .main-banner p{
    font-size: 25px;
  }

  .main-productos{
    display: flex;
    flex-direction: column;
  }

  .main-suscription{
    display: flex;
    flex-direction: column;
  }
  .novedades{
    align-items: center;
    padding: 0;
  }
.novedades p{
  font-size: 20px;
}

.suscripcion {
  align-items: center;
  padding: 10px;
  
}

.footer-contact{
  flex-direction: column-reverse;
}

}